<!DOCTYPE html>
<html lang="nl-nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RlsDemo</title>
    <style>
        body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #report-container {
            height: calc(0.5625 * 61vw);
        }

        iframe {
            border: none;
        }
    </style>
</head>

<body>
    <div id="report-container">
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>